doctype html
html
  head
    title Dev Dance Academy 
    block scripts
    block style 
  body
    nav#navbar 
        ul 
          div#dance  
            img(src="/static/dance2.png")
            | DDA 
          li #[a(href="/") Home] 
          li #[a(href="/") About] 
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="/contact") Contact Us]
    block content 
    footer#footer 
      | Copyright © 2022 DevdattDanceAcademy.com | All rights are resereved 
    